.NKLink {
    color: #0000EE;
    cursor: pointer;
    text-decoration: underline;
}

.NKUrl {
    color: #0000EE;
    cursor: pointer;
}

.NKUnlink {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
}

.NKUnselectable {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently not supported by any browser */
    cursor: default;
}

.NKBtn {
    cursor: pointer;
}

.NKWFSize {
    width: 100%;
}

.NKHideScroll::-webkit-scrollbar {
    display: none;
}

.NKCloseIcon {
    color: #aaaaaa;
    float: right;
    margin: -12px -5px 0px 0px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.NKCloseIcon:before {
    content: "×";
}

.NKCloseIcon:hover,
.NKCloseIcon:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

:root {
    --nk-blue-light-text: #228ECD;
    --nk-blue-dark-text: #1A6B9B;
    --nk-blue-dark-border: #2490CE;
    --nk-blue-light-border: #C9E5F7;
    --nk-blue-light-background: #F3F8FE;
}

.NKChip {
    display: inline-block;
    border-radius: 5px;
    padding: 1px 8px 3px 8px;
    font-size: 0.8667em;
    font-weight: 500;
    margin: 5px 5px 0 0;
}
.NKChipX {
    cursor: pointer;
    color: black;
}
.NKPill {
    border-radius: 10px;
    padding: 0px 5px 0px 5px;
    display: inline-block;
    font-size: 12px;
    background-color: var(--nk-blue-light-background);
    color: var(--nk-blue-light-text);
    cursor: pointer;
    margin-right: 3px;
}
