.NKLink {
    color: #0000EE;
    cursor: pointer;
    text-decoration: underline;
}

.NKUrl {
    color: #0000EE;
    cursor: pointer;
}

.NKUnlink {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
}

.NKBtn {
    cursor: pointer;
}

.NKWFSize {
    width: 100%;
}